[submodule "submodule/submodule/QAOAGraph"]
	path = submodule/submodule/QAOAGraph
	url = https://github.com/Chenyh64/QAOAGraph.git
[submodule "submodule/submodule/BiMap"]
	path = submodule/submodule/BiMap
	url = https://github.com/Chenyh64/BiMap.git
