[submodule "submodule/QAOAGraph"]
	path = submodule/QAOAGraph
	url = git@github.com:Chenyh64/QAOAGraph.git
[submodule "submodule/BiMap"]
	path = submodule/BiMap
	url = git@github.com:Chenyh64/BiMap.git
